.article {
    position: relative;
    overflow: hidden;
    margin: 100px auto;
    width: 80%;
    text-align: center;
}

footer {
    background: sienna;
    bottom: 0;
    height: 50px;
    padding-left: 15px;
    font-weight: 700;
    line-height: 50px;
}

.hidden-language {
    display: none;
}

.box{
    display: inline-block;
}

@media screen and (max-width: 645px) {

    .container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }

    .container.box {
        grid-column: unset;
        grid-row: unset;
    }
}

@media screen and (max-width: 1750px) {
    .hidden-language {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .hidden-language > a {
        color: black;
        text-decoration: none;
    }
}
