* {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

.hidden-menu a {
    cursor: pointer;
}

.font-bold{
    font-weight: 700;
}

.hide {
    display: none;
    padding: 10px;
    margin: 0 auto;
    width: 95%;
    height: 50%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

.hide a{
    color: black;
}
.hide > li {
    list-style-type: none;
    padding: 10px;
    color: black;
}

.hide > li:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid sienna;
}


.main-wrapper {
    width: 95%;
    max-width: 1600px;
    position: relative;
    margin: 0 auto;
    height: fit-content;
}

.description {
    height: 30%;
}


header {
    padding: 20px;
    margin: 100px auto;
    text-align: center;
}

.span-title {
    font-weight: 700;
    color: sienna;
}

h1 > a {
    color: sienna;
    font-size: 4.25em;
}


.menu-icon {
    display: none;
}


.description h3 {
    text-align: center;
    margin: 15px auto;
    font-size: 3.125em;
}

.button-sign-in {
    border-radius: 10px;
    padding:8px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.6em;
}

.button-sign-in:hover {
    background-color: white;
    color: sienna;
}

.button-my-page {
    border-radius: 10px;
    padding:8px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.6em;
}

.button-my-page:hover {
    cursor: pointer;
    background-color: white;
    color: sienna;
}

ul {
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
}

nav {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    align-content: center;
    align-items: center;
    justify-content: center;
}

nav > a {
    position: absolute;
    right: 60px;
}

nav .button-my-page {
    user-select: none;
    display: inline-block;
    position: absolute;
    right: 60px;
}

.nav-title {
    font-weight: bold;
    display: inline-block;
    font-size: 3.0em;
}

.navigator {
    background-color: sienna;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

.navigator a {
    color: white;
}

.navigator .ul-1 li{
    padding: 0 50px;
    display: inline-block;
    color: white;
    font-size: 1.6em;
    list-style-type: none;
}

.navigator .ul-2 li{
    padding: 0 50px;
    display: inline-block;
    color: white;
    font-size: 1.6em;
    list-style-type: none;
}
.navigator .ul-1 li:not(:last-child){
    border-right: 4px solid white;
}

.navigator .ul-2 li:not(:last-child){
    border-right: 4px solid white;
}

.main-header {
    overflow: hidden;
}


h1 {
    display: inline;
}

.logo {
    width: 100px;
    height: 100px;
}

.sub_menu {
    display: none;
    position: absolute;
    right: 60px;
    top: 80px;
    background-color: sienna;
    border-radius: 10px;
    padding:10px;
}

.sub_menu a{
    padding: 10px;
    color: white;
    font-size: 1.0em;
}

.sub_menu li{
    list-style: none;
    display: block;
}

.sub_menu li:not(:last-child){
    border-bottom: 3px solid white;
}

@media screen and (max-width: 645px){
    .logo {
        display: none;
    }
}

@media screen and (max-width: 1750px){
    .navigator {
        display: none;
    }

    .menu-icon {
        display: unset;
    }
}