.container{
    margin: 0 auto;
    text-align: center;
}

.detail-container{
    text-align: start;
    padding: 10px;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
}

.font-4{
    font-size: 4em;
}

.font-3{
    font-size: 3em;
}

.font-1half{
    font-size: 1.5em;
}
.title{
    text-align: start;
    padding: 10px;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
}

.display-inline-flex{
    display: inline-flex;
}

.product-info{
    padding: 20px;
    box-shadow: 0 0 40px 10px lightgrey;
    width: 80%;
    margin-top: 5%;
    justify-content: center;
}

.product-img{
    margin-right: 5%;
    height: 500px;
    width: 500px;
    justify-content: start;
}

.img-thumbnail {
    height: 500px;
    width: 500px;
}

.display-block{
    display: block;
}

.product-name {
    padding: 20px;
    margin: 20px auto;
    border-bottom: 1px solid lightgrey;
}

.product-desc-detail{
    text-align: start;
    margin: 20px 0;
    padding: 20px;
}

.product-price{
    padding: 20px;
    text-align: right;
    margin: 20px auto;
}

.product-link{
    font-size: 1.5em;
    width: 20%;
    margin-left: auto;
    margin-bottom: 3%;
    background-color: sienna;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.review-title{
    margin-right: 15%;
    font-size: 4em;
}

.detail-img{
    padding: 20px;
}

.margin-top-15{
    margin-top: 15%;
}